<launch>
  <arg name="x_serial_number" default=""/>
  <arg name="x_alias" default=""/>
  <arg name="y_serial_number" default=""/>
  <arg name="y_alias" default=""/>
  <arg name="z_serial_number" default=""/>
  <arg name="z_alias" default=""/>
  <node name="zaber_stage_node" pkg="zaber_stage" type="zaber_stage_node.py">
    <param name="x_serial_number" value="$(arg x_serial_number)"/>
    <param name="x_alias" value="$(arg x_alias)"/>
    <param name="y_serial_number" value="$(arg y_serial_number)"/>
    <param name="y_alias" value="$(arg y_alias)"/>
    <param name="z_serial_number" value="$(arg z_serial_number)"/>
    <param name="z_alias" value="$(arg z_alias)"/>
  </node>
</launch>
